/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
  }

img {
    max-width: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: black;
    color: white;
    padding-top: 8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}


/* LAYOUT */
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

/* NAVBAR */
.navbar {
    width: 40%;
    margin: 0 auto;
    background-color: #131315;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9F83E4;
    margin-bottom: 2rem;
    gap: 2rem;
    position: fixed;
    z-index: 999;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(19, 19, 21, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: slideDownFadeIn 0.6s ease forwards;
}

header .links {
    display: flex;
    gap: 1rem;
}

header .social-icons {
    display: flex;
    gap: .3rem;
}

header .social-icons img {
    height: 1em;
    width: auto;
    vertical-align: middle;
    color: #9F83E4;
}

/* MAIN */
/* Presentation */
main .presentation-section {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

main .presentation-card h1 {
    color: white;
    margin-bottom: 1rem;
    font-weight: normal; 
}

main .presentation-card {
    max-width: 50%;
    color: #424244;
    font-weight: 300;
}

main .presentation-card strong {
    color: #717171;
}

main .presentation-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: url('/photos/profile2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow:
      0 0 25px rgba(0, 255, 255, 0.3),
      0 0 60px rgba(255, 0, 255, 0.15),
      0 0 10px rgba(255, 255, 255, 0.1) inset;
    filter: drop-shadow(0 0 4px #424244) drop-shadow(0 0 6px #9F83E4);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    animation: float 3s ease-in-out infinite;
  }
  
  main .presentation-img:hover {
    transform: scale(1.08) rotate(0.5deg);
    box-shadow:
      0 0 30px rgba(0, 255, 255, 0.5),
      0 0 70px rgba(255, 0, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.15) inset;
  }
  
main .presentation-section .presentation-links {
    padding: 10px;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

main .presentation-section .btn-cv {
    border: solid 1px #9F83E4;
    border-radius: 20px;
    padding: .5rem;
    background-color: white;
    font-size: .9rem;
    font-weight: 500;
}

main .presentation-section .btn-projects {
    padding: .5rem;
    background-color: black;
    color: white;
}

/* FrontSection */
main .front-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

main .xp-Section {
    width: 100%;
    max-width: none;
    position: relative;
    padding: 2rem;
    border-radius: 20px;
    z-index: 1;
    font-size: .8rem;
    color: #424244;
    font-weight: normal;
}

main .xp-Section::before {
    content: "";
    position: absolute;
    top: -250px;
    left: -150px;
    right: -250px;
    bottom: -250px;
    background: radial-gradient(circle, rgba(194, 105, 196, 0.294) 0%, transparent 60%);
    filter: blur(120px);
    border-radius: 1000px;
    z-index: -1;
    pointer-events: none;
}

main .xp-Section .xp {
    font-size: 5rem;
    color: white;
    font-weight: bold;
}

/* Carousel */
main .carousel-container {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 2rem;
    width: 40rem;
    padding-top: 4rem ;
}

main .carousel-item {
    height: 13rem;
    min-width: 18rem;
    width: 30%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 2rem;
    color: #131315;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    text-align: center;
}

main .dots {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-left: 2rem;
}

main .dot {
    height: 10px;
    width: 17px;
    border-radius: 9999px;
    background-color: #999;
    transition: all 0.3s ease;
}

main .dot.active {
    width: 50px;
    background-color: white;
}

/* Language Section */
main .language-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 4rem;
    font-size: 5rem;
    font-weight: bold;
}

main .language-section p:first-child {
    color: #C699FE;
}

main .language-section p {
    color: #9F53FE;
}

main .language-section p:last-child {
    color: #6105D6;
}


/* Stack section */
main .stack-presentation {
    color: #C8C8C8;
    font-weight: lighter;
}
main .full-width-breakout {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

main .tech-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

main .tech-row {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding-top: 2rem;
    align-items: flex-start;
}

main .tech-col {
    border: 1px solid #222;
    padding: 1.5rem;
    min-width: 180px;
    border-radius: 20px;
}

main .tech-col h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

main .tech-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .img-lang {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

main .logo-wrapper {
    width: 30px;
    height: 30px;
    background-color: #202022;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .logo-wrapper img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

main .img-lang span {
    font-size: .8rem;
}

/* FOOTER */
.footer-up {
    margin-top: 2rem;
    background-color: #131315;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: #B4B4B4;
    gap: 2rem;
}

footer .social-icons {
    display: flex;
    gap: .3rem;
}

footer .social-icons img {
    height: 1em;
    width: auto;
    vertical-align: middle;
    color: #9F83E4;
}

footer .footer-down {
    padding: 1rem;
    font-size: .8rem;
    color: #B4B4B4;
}

/* KEYFRAMES */
@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0px);
    }
  }

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

/* MEDIA QUERY: Tablet (max 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .navbar {
        width: auto%;
        justify-content: center;
        gap: 2rem;
    }

    main .xp-Section::before {
        top: -180px;
        left: -100px;
        right: -180px;
        bottom: -180px;
      }

    main .presentation-section img {
        margin-right: 0;
        max-width: 8rem;
    }

    main .front-section {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        text-align: center;
    }

    main .carousel-container {
        width: 100%;
        padding: 0 1rem;
        gap: 1rem;
    }

    main .carousel-item {
        min-width: 20%;
        height: 10rem;
        padding: 1rem;
        border-radius: 10%;
    }

    main .dots {
        justify-content: center;
        padding-left: 0;
    }

    .footer-up {
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    main .language-section {
        font-size: 3rem;
    }
}

/* MEDIA QUERY: Mobile (max 768px) */
@media (max-width: 768px) {
    .navbar {
        width: auto;
        padding: 1rem 1.5rem;
        gap: 2rem;
        font-size: .8rem;
    }

    main .presentation-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    main .presentation-card {
        max-width: 100%;
    }

    main .presentation-section img {
        margin: 0 auto;
        max-width: 7rem;
    }

    main .presentation-links {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

     main .presentation-section .presentation-links {
        margin-bottom: 1rem;
      }

    main .xp-Section::before {
        top: -120px;
        left: -60px;
        right: -120px;
        bottom: -120px;
      }

    main .front-section {
        gap: 2rem;
    }

    main .carousel-container {
        gap: 0.8rem;
        padding: 0 0.5rem;
    }

    main .carousel-item {
        height: 9rem;
        min-width: 13rem;
        padding: 0.8rem;
        font-size: 0.6rem;
    }

    main .dot {
        height: 4px;
        width: 8px;
    }

    main .dot.active {
        width: 20px;
    }

    main .language-section {
        font-size: 2.5rem;
    }


    main .tech-col {
        width: 30%;
    }

    main .footer-up {
        text-align: center;
        gap: 1.5rem;
    }
}

/* MEDIA QUERY: Mobile XS (max 480px) */
@media (max-width: 480px) {
    .navbar {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
        gap: 0.5rem;
      }
    
      .navbar .social-icons {
        display: none;
      }
     
      main .xp-Section::before {
        top: -90px;
        left: -40px;
        right: -90px;
        bottom: -90px;
      }

    main .carousel-item {
        min-width: 30%;
        height: 8rem;
        padding: 0.6rem;
        font-size: 0.75rem;
    }

    main .carousel-container {
        gap: 0.5rem;
    }

    main .carousel-item {
        min-width: 20%;
        height: 6rem;
        padding: 1rem;
        font-size: .1rem;
        color: transparent;
        border-radius: 10%;
    }

    main .dot {
        width: 12px;
    }

    main .dot.active {
        width: 30px;
    }

    main .language-section {
        font-size: 2rem;
    }
}